// FONTS

@font-face {
    font-family: 'nexa heavy';
    src: url('fonts/nexa_heavy-webfont.woff2') format('woff2'),
         url('fonts/nexa_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

