// FORMS

.content_wrapper{
	
	.gform_wrapper{
		
		
		
		@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
			width: 100%;								
			box-sizing: border-box;
		}
	}
	
	.charleft{
		display: none;
	}
	
	.gfield_required{
		padding-left: 2px;
		color: $red;
		font-size: 18px;
	}
	
	.validation_error{
	    font-size: 0;
	    line-height: 0;
	}

	
	
	ul.gform_fields{
		margin-left: 0;
		
		li{
			list-style-type: none;
			margin-top: 15px;
			margin-bottom: 10px;
			padding: 5px;
			
			vertical-align: top;
			
			@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
				width: 100%;	
				padding: 5px;
				box-sizing: border-box;							
			}
			
			&.gfield_error{
				background-color: #fdf1f2;
			}
			
			label, legend{
				display: block;
				font-family: arial;
				margin: 0;
				text-align: center;
				
				@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
					width: 100%;	
					box-sizing: border-box;							
				}
			}
			
			.validation_message{
				
				font-size: 12pt;
			}
			
			.ginput_container{
				display: block;
				
				@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
					width: 100%;	
					box-sizing: border-box;							
				}
				
				input{
					text-align: center;
				}
				
				input, select, textarea{
					width: 340px;
					padding: 8px;
					bordeR: solid 1px #aaa;
					border-radius: 3px;
					font-size: 16px;
					font-family: arial;
					
					@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
						width: 100%;	
						margin-top: 10px;	
						margin-bottom: 5px;
						padding: 10px;
						box-sizing: border-box;			
					}	
				}
				
				textarea{
					resize: none;
				}
								
				ul.gfield_radio{
					
					margin: 0;
					
					li{
						display: inline-block;
						margin: 0;
						padding: 0;
						
						label{
							width: auto;
							margin-right: 20px;
						}
						
						input{
							width: auto;
							margin-right: 5px;
						}
					}	
				}
				
				ul.gfield_checkbox{
					margin: 0!important;
					
					li{
						label{
							display: inline-block;
							width: 240px;
							margin: 0;
							font-size: 12pt;
						}
						
						input{
							float: right;
							width: 20px;
							height: 20px;
							margin-left: 0px;
						}
					}
				}
				
				&.ginput_container_radio{
					display: inline-block;
					width: 340px;		
					margin-left: 2px;	
					font-size: 14pt;			
										
										
					@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
						margin-top: 15px;
						margin-left: 30px;	
						margin-bottom: 20px;
					}
				}
				
				&.ginput_complex{
					
					span{
						display: block;
						width: 100%;
						margin-top: 10px;
						margin-bottom: 5px;
						
						label{
							width: 240px;
							
							@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
								width: 100%;	
							}
						}
						
						input{
							width: 330px;
							display: inline-block;
							
							@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
								width: 100%;	
							}
						}
					}
				}				
			}
						
			&.field_sublabel_below{
				
				fieldset{
					width: 100%;
					box-sizing: border-box;

					legend{
						float: left;							
						display: inline-block;
					}
					
					.ginput_container.ginput_container_radio{
						float: right;
						display: inline-block;		
						
						@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
							box-sizing: border-box;
							margin-left: 0;
						}
			
					}
				}
			}
			
			.gfield_description{
				font-size: 12px;
				font-family: arial;
			}
			
		}
	}
	
	.gform_button{
		height: 18px;
		padding: 20px;
		padding-top: 22px;
		padding-left: 40px;
		padding-right: 40px;
		border: 0;
		border-radius: 10px;
		color: $white;
		font-size: 20px;
		line-height: 0;
		text-transform: uppercase;
		font-family: arial;
		background-color: $copy;
		
		@inlcude allAnim();
		
		&:hover{
			cursor: pointer;
			background-color: $green;
			
		}
		
		@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
				width: 100%;		
				padding: 30px;
				box-sizing: border-box;			
		}
	}
	
}
