// SITE LAYOUT

// BODY

body, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	font-style: normal;
} 

body{
	background-image: none;
	background-color: #fff; 
	font-family: arial;
	font-style: normal;
}

// HEADER SPACE

#header_space{
	display: block;
	height: 70px;
}

// HEADER

#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding: 0;
	background-color: rgba(0,0,0,0.7);
	background-color: $white;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
	z-index: 90001;
	
	.container{
		padding: 0;
	}
	
	ul#primary_nav{
		margin-top: 24px;
		padding: 0px;
		text-align: right;
		
		li{
			display: inline-block;
			list-style-type: none;
			
			a{
				display: block;
				padding: 7px 15px;
				color: #aaa;
				font-size: 12px;
				text-decoration: none;
				text-transform: uppercase;
				font-family: arial;
				
				&:hover{
					cursor: pointer;
					color: $green;
				}
				
				@media (max-width: $width-ipad-too){
					padding: 7px 0px;
					padding-right: 8px;
					font-size: 11px;
					
				}
				
				
			}
			
			@media (max-width: $width-ipad + 40){
			
				&:last-child{
					padding-right: 20px;
				}
					
			}	
			
			@media (max-width: $width-ipad-too){
			
				&:last-child{
					padding-right: 10px;
				}
					
			}			
		}	
		
		#menu_logo{
			float: left;
			margin-top: -14px;
			
			a{
				display: block;
				width: 92px;
				padding: 7px 15px;
				
				img{
					width: 100%;
					height: auto;
					display: none;
					
					&.show{
						display: block;
					}
				}
			}
		}
		
	}
}

// HOME SLIDER

#home_slider_wrapper{
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: 0px;
	padding: 0;
	background-color: transparent;
	overflow: hidden;
	z-index: 90000;	
	opacity: 1;
	
	@media (max-width: $width-ipad + 40){
		height: 300px;
	}

				
	// SLIDER
	
	#home_slider{
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;		
		background-color: transparent;
		z-index: 10000;
		
		li{
			height: auto;
			height: 500px;
			margin: 0;
			padding: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: transparent;
			
			img{
				width: 100%;
				height: auto;			
				display: none;
			}
		}
		
	}
	
	#watermark{
		position: absolute;
 		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: repeat;
		z-index: 10001;
		
	}
	
	#master_brandmark{
		position: absolute;
		top: calc(50% - 125px);
		left: 50%;	
		transform: translateY(-50%);	
		transform: translateX(-50%);		
 		width: 400px;
		height: 250px;		
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 10002;	
		
		@media (max-width: $width-ipad + 40){
			width: 220px;
			height: 140px;
			top: calc(50% - 70px);
		}
	}
}

// SEE EVERYTHING

#see_everything{
	
	.container{
		
		@media (max-width: $width-ipad + 40){
			padding-top: 30px;
			padding-bottom: 30px;
		}
				
		h3{
			margin-top: 10px;
			margin-bottom: 30px;
			
			@media (max-width: $width-ipad + 40){
					margin-top: 30px;
				}
			
			a{
				margin-top: 10px;
				
				padding: 8px 20px;
				font-size: 45px;
				color: $white;			
				text-decoration: none;
				text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
				border: solid 1px rgba(0,0,0,0);
				line-height: 1; 
				border-radius: 3px;
				
				
				
				@include allAnim();
						
				&:hover{
					cursor: pointer;
					color: $white;
					border: solid 1px $white;
					background-color: rgba(0,0,0,0.2);
				}
			
			}
			
		}
		
		ul{
			li{
				list-style-type: none;
				display: inline-block;
				margin-bottom: 0px;
				
				a{
					margin: 5px;
					padding: 8px 20px;
					font-size: 24px;
					color: $white;
					font-family: 'Gill Sans regular';
					font-style: normal;
					font-weight: normal;
					border: solid 1px rgba(0,0,0,0);
					line-height: 1; 
					border-radius: 3px;
					color: $white;
					text-decoration: none;
					text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
					
					@include allAnim();
					
					&:hover{
						cursor: pointer;
						color: $white;
						border: solid 1px $white;
						background-color: rgba(0,0,0,0.2);
					}
					
				}
				
				@media (max-width: $width-ipad + 40){
					width: 80%;
					margin-bottom: 30px;
				}
			}
		
		}
	}
}

// HAN SOLO 

#han_solo{
	
	.container{
		
		@media (max-width: $width-ipad + 40){
			padding-top: 30px;
			padding-bottom: 30px;
		}
				
		h4{
			margin-top: 0;
			font-size: 40px;
			color: $white;			
			text-decoration: none;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
		}
		
		p{
			margin-bottom: 0;
			font-size: 24px;
			color: $white;
			font-family: 'Gill Sans regular';
			font-style: normal;
			font-weight: normal;
			border: solid 1px rgba(0,0,0,0);
			line-height: 1; 
			border-radius: 3px;
			color: $white;
			text-decoration: none;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
			
			@media (max-width: $width-ipad + 40){
				margin-bottom: 0px;
			}
		}
	}
}


// PAGE HEADERS

#page_header{
	
	background-size: cover;
	background-position: center center;
	
	h1{
		margin: 0;
		font-size: 35px;
		color: $white;
		text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
		
	}
}

#the_introduction{
	
	.container{
		
		h2{
			font-family: arial;
			font-weight: normal;
			font-size: 18px;
			letter-spacing: 0.2pt;
			line-height: 21px;
			
			@media (max-width: $width-ipad-too){
				
			}

		}
	}
}

// WORKSHOP

.workshop.section{

	.container{
		
		label{
			display: block;			
		}		
		
		input{
			width: 340px;
			margin-bottom: 25px;
			padding: 8px;
			bordeR: solid 1px #aaa;
			border-radius: 3px;
			font-size: 16px;
			font-family: arial;
			
			@media (max-width: $width-ipad), screen and (max-device-width : $width-mobile) {
				width: 100%;	
				margin-top: 10px;	
				margin-bottom: 5px;
				padding: 10px;
				box-sizing: border-box;			
			}	
		}
		
		.a_button{
			display: inline-block;
			border-radius: 3px;
			width: 250px;			
			height: 18px;
			padding: 20px;
			margin-top: 20px;
			padding-top: 22px;
			padding-left: 40px;
			padding-right: 40px;
			border: 0;
			border-radius: 10px;
			color: $white;
			font-size: 20px;
			line-height: 0;
			text-transform: uppercase;
			font-family: arial;
			background-color: $copy;
		}		
	}
}

// PORTFOLIO

#portfolio_page.section{
	
	.container{
		
		h3{
			margin-bottom: 5px;
			font-size: 18px;
		}
		
		.filters{
			float: left;
			width: 212px;
			text-align: center;
			
			.a_button{
				display: inline-block;
				width: 80%;
				
				height: auto;
				padding: 10px;
				padding-lefT: 0;
				padding-right: 0;
				border-radius: 3px;
				font-size: 15px;
				line-height: 1;
			}
			
			@media (max-width: $width-ipad + 40){
				display: none;
			}
		}
		
		ul.portfolio_loop{
			position: relative;
			display: inline-block;
			width: calc(100% - 220px);
			height: auto;
			margin: 0;
			padding: 0;	
			text-align: center;
			
			@media (max-width: $width-ipad + 40){
				width: 100%;
			}
						
			li{
				display: inline-block;
				list-style-type: none;		
				
				a{
					display: inline-block;				
					position: relative;
					width: 250px;
					height: 205px;
					margin: 15px;
					padding: 0px;			
					font-size: 0;
					line-height: 0;
					bordeR: solid 1px #ddd;
					text-decoration: none;
					background-color: $white;	
					text-align: left;
					
					@media (max-width: $width-desktop + 40){
						width: 200px;				
					}
					
					@media (max-width: $width-interim + 40){
						width: 160px;
						height: 170px;	
						margin: 5px;
					}
					
					@media (max-width: $width-ipad + 40){
						width: 200px;	
						height: 195px;	
					}
					
					@media (max-width: $width-ipad-too){
						width: 180px;	
					}
					
					img{
						width: 80%;
						height: auto;
						margin-lefT: 10%;
						margin-top: 10px;
						
						@media (max-width: $width-desktop + 40){
							width: 90%;
							margin-lefT: 5%;			
						}
						
						@media (max-width: $width-interim + 40){
							width: 100%;
							margin-lefT: 0%;	
						}
						
					}
					
					img.partner_logo{
						position: absolute;
						bottom: 0;
						right: 0;
						width: 125px;
						height: 32px;
						opacity: 0.5;
						z-index: 10;
						
						@media (max-width: $width-desktop + 40){
							width: 100px;
							height: auto;
						}
						
						@media (max-width: $width-interim + 40){
							width: 90px;
							height: auto;
						}
						
						@media (max-width: $width-ipad + 40){
							width: 100px;
						}
					}
											
					.hover_veil{
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: #777;
						opacity: 0;
						
						z-index: 100;
						
						@include allAnim();
						
					}
					
					.quick_intro{
				
						position: absolute;
						width: 100%;
						height: 100%;				
						opacity: 0;				
						z-index: 100;
						display: flex; 
						text-align: center;
						
						p{
							margin: auto;
							color: $white;
							padding: 10px;
							font-size: 14px;
							text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
							
							@media (max-width: $width-desktop + 40){
								font-size: 12px;
							}
								
							@media (max-width: $width-interim + 40){
								font-size: 11px;
								line-height: 14px;
							}
						}
									
						@include allAnim();
		
					}

					
					@include allAnim();
					
					&:hover{				
						
						.hover_veil{
							opacity: 0.9;
						}
						
						.quick_intro{
							opacity: 1;
						}

		
					}
				}
			}

		}
				
	}
	
}

// FILTERS

ul.fields_system_skills{
	
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	text-align: left;
	
	li{
		list-style-type: none;
		display: inline-block;
		width: 100px;		
		margin: 3px;
		padding: 5px 10px;
		font-size: 11px;
		border: solid 1px #ccc;
		border-radius: 3px;
		line-height: 1;
		background-color: #eee;
		
		&:hover{
			cursor: pointer;
			background-color: $green;
			border: solid 1px $green;
		}
		
		&.active{
			color: $white;
			background-color: $blue;
			border: solid 1px $blue;
		}
	}
	
}

// DIARY

.the_diary_wrapper.section{
	
	background-color: #eee;
	
	.container{
		padding-top: 0;
		padding: 0;
		max-width: 600px;
				
	}
}

.section.diary_page{
	background-color: #eee;
}

#the_diary{
	
}

#diary_wrapper{
	text-align: left;
	background-color: $white;
	
	img{
		width: 100%;
		height: auto;
	}
	
	.the_padding{
		padding: 15px;	
		
		h1{
			margin-bottom: 15px;
			font-weight: normal;
			font-size: 21px;		
			font-family: 'nexa heavy';
			letter-spacing: 0.2pt;
			color: $copy;
		}
		
		p{
			margin-bottom: 15px;
			color: $copy;
			font-size: 16px;
			letter-spacing: 0.2pt;
			line-height: 24px;
		}
		
		img{
			width: 100%;
			height: auto;
		}
		
		img.centre_placed{
			display: block;
			width: 300px;
			height: auto;
			margin-top: 10px;
			margin-bottom: 3px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.wp-caption{
			width: 100%!important;
			height: auto;
		}
		
		.wp-caption-text{
			margin-bottom: 25px;
			text-align: center;
			font-size: 10px;
		}
		
		a{
			color: $copy;
			font-weight: bold;
			text-decoration: none;
			
			&:hover{
				color: $green;
			}
		}
	}
}

// THE SKILLS HILL

#the_skills_hill{
	
	.container{
		
		@media (max-width: $width-ipad_too){
			text-align: center;	
			padding-top: 40px;	
			padding-bottom: 40px;		
		}
		
		ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			
			@media (max-width: $width-ipad + 40){
				display: block;
			}
			
			li{
				flex: 0 0 5%;
				list-style-type: none;
				margin: 0px ;
				
				@media (max-width: $width-ipad + 40){
					display: inline-block;
					width: 50px;
				}

				
				a{
					display: block;
					width: 100%;
					height: auto;
					
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
		
	}
}

// FOOTER

#footer{
	background-color: $black;	
	
	&.fixed{
		position: fixed;
		bottom: 0;
		lefT: 0;
		width: 100%;
	}
	
	.container{
		text-align: left;
		
		@media (max-width: $width-ipad_too){
			text-align: center;	
			padding-top: 40px;	
			padding-bottom: 40px;		
		}
		
		ul{
			display: inline-block;
			
			@media (max-width: $width-ipad_too){
				display: block;
				text-align: center;
			}
			
			li{
				list-style-type: none;
				margin-bottom: 5px;
				color: $white;
				font-size: 15px;
				font-family: arial;
				line-height: 22px;
				
				@media (max-width: $width-ipad_too){
					display: block;
				}
				
				a{
					color: $white;
					font-size: 15px;
					font-family: arial;
					line-height: 22px;
					text-decoration: none;
					
					@include allAnim();
					
					&:hover{
						color: $green;
					}
				}
			}
		}
		
		.footer_links{
			float: right;
			width: 140px;			
			height: auto;
			margin-top: 5px;
			text-decoration: none;
			text-align: right;

			@media (max-width: $width-ipad_too){
				display: block;
				float: none;	
				margin-top: 40px;
				margin-left: auto;
				margin-right: auto;	
				text-align: center;		
			}
 
			p{
				color: $white;
				font-size: 12px;	
				
				@media (max-width: $width-ipad_too){
					margin-bottom: 3px;	
				}
			}

			a.ocean{
				display: inline-block;
				width: 110px;
				height: auto;
				margin-top: 5px;

				img{				
					width: 100%;
					height: auto;				
					margin-top: 5px;
				}
			}

			a.upparel{
				display: inline-block;
				width: 120px;
				height: auto;
				margin-top: 5px;

				img{				
					width: 100%;
					height: auto;				
					margin-top: 5px;
				}
			}
		}
		
		
	}
}

// MODALS & POP UP CONTENT

#modal_veil{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	z-index: 100000;
	
	display: none;
}



#window_wrapper{
	position: fixed;
	top: 0;
	left: 50%;
    transform: translateX(-50%);
	width: 600px;
	height: 100%;	
	background-color: $white;
	background-image: url('images/blinking.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20%, auto;
	
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 100000;
	display: none;
	
	@media (max-width: 600px){
		width: 100%;
	}
	
	#window_content{
		text-align: left;
	}
	
}

#close_modal_wrapper{
	
	position: fixed;
	top: 0;
	left: 50%;
    transform: translateX(-50%);
	width: 600px;
	height: 60px;	
	z-index: 100000000;
	display: none;
	
	@media (max-width: 600px){
		width: 100%;
	}
	
	#close_modal{
		position: absolute;
		top: 0px;
		right: -35px;
		width: 30px;
		height: 30px;
		color: $white;
		font-weight: 100;
		font-size: 40px;	
		text-align: center;
		
		&:hover{
			cursor: pointer;
		}
					
		@media (max-width: $width-ipad + 40){
			top: 5px;
			right: 5px;
			width: 45px;
			height: 45px;
			background-color: rgba(0,0,0,0.8);
			border-radius: 3px;
			
			&:after{
				top: 1px;
				left: 10px;
			}
			
			&:hover{
				background-color: rgba(0,0,0,1);
			}
		}
	}

}

