// PLUGINS

// PARALLAX WINDOW

.parallax-window {
	min-height: 80px;
	background: transparent;
}


// FANCY BOX

#fancybox-outer{
	box-shadow: none!important;
}

#fancybox-overlay{
	background-color: #000!important;
	opacity: 0.9!important;
}

#fancybox-loading{
	top: 44%!important;
	left: 45%!important;
	width: 140px!important;
	height: 140px!important;
	margin-top: 0!important;
	margin-left: 0!important;
	background-image: url('images/TS-Logo-Grey.svg')!important;
	background-position: center center!important;
	background-repeat: no-repeat;
	
	div{
		background-image: none!important;
	}
	
	@media (max-width: $width-ipad + 40){
		left: 40%!important;
	}
	
	@media (max-width: $width-ipad-too){
		left: 37%!important;
	}
}

#fancybox-close{
	top: 0px!important;
	right: -35px!important;
	width: 30px!important;
	height: 30px!important;
	background-image: none!important;
	background-color: transparent!important;
	
	
	&:after{
		position: absolute;
		top: 0px;
		left: 5px;
		color: $white;
		font-family: 'Font Awesome 5 Pro';
		font-weight: 100;
		font-size: 40px;	
		content: '\f00d';	
	}
	
	@media (max-width: $width-ipad + 40){
		top: 5px!important;
		right: 5px!important;
		width: 45px!important;
		height: 45px!important;
		background-color: rgba(0,0,0,0.8)!important;
		border-radius: 3px!important;
		
		&:after{
			top: 1px;
			left: 10px;
		}
	}
}