// STYLE GUIDE

*{
	outline: none;
}

.content_wrapper{
	
	&.grey{
		background-color: #eee;
	}
	
	h1, h2, h3, h4, h5, h6{
		clear: both;
		margin-bottom: $gutter;		
		line-height: normal;	
		color: #444;		
	}
	
	h1{
	
		font-weight: normal;
		font-size: 32px;
		
		font-family: 'nexa heavy';
		
	
	}
	
	h2{
				
		font-weight: normal;
		font-size: 25px;
		
		font-family: 'nexa heavy';
	}
	
	h3{
		
		font-weight: normal;
		font-size: 25px;
		letter-spacing: 0.3pt;		
		font-family: 'nexa heavy';
	}
	
	h4{
		font-size: 28px;
		font-weight: normal;
		letter-spacing: 0.3pt;		
		font-family: 'nexa heavy';
	}


	
	p, a, li, label, td, th, legend, input[type="text"],input[type="password"], textarea{
		font-family: arial;
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 0.2pt;
		line-height: 21px;
		
	
	}
	
	p, ul, ol{
		margin-bottom: $gutter;
	}
	
	p{
		i{
			font-style: italic;
		}
	}
	
	ul, ol{
		//margin-left: $gutter * 3;
		//margin-bottom: $gutter * 2;
		
		li{
			list-style-position: outside;
		}
	}
	
	ul{
		ul{
			margin-bottom: 0;
		}
	}
	
	a{
		font-weight: bold;
		
		
		&:hover{
			
			text-decoration: none;
		}
	}
	
	input, select, textarea{
		font-size: 16px;
	}
	
	a.read_more{
		display: inline-block;
		margin-top: 30px;
		text-decoration: none;
		padding: 8px 20px;
		padding-top: 10px;		
		border-radius: 3px;
		font-size: 18px;
		line-height: 1;
		color: $copy;
		font-family: 'Gill Sans regular';
		font-style: normal;
		font-weight: normal;
		background-color: transparent;
		border: solid 1px rgba(0,0,0,0.075);
		
		i{			
			font-size: 15px;
		}
		
		@include allAnim();
		
		&:hover{
			border: solid 1px #bbb;
			background-color: #f5f5f5;
			
			i{
			
			}
		}
	}
}

img.pre_loading{
	float: left;
	height: 0px;
	width: 0px;
	font-size: 0;
}

// LOOPS

ul.feed_loop{
	position: relative;
	display: block;
	width: 100%;
	height: 460px;
	margin: 0;
	padding: 0;	
	
	@media (max-width: $width-desktop + 40){
		height: 390px;
	}
	
	@media (max-width: $width-interim + 40){
		height: 300px;	
	}
	
	@media (max-width: $width-ipad + 40){
		height: 550px;	
	}
	
	@media (max-width: $width-ipad_too){
		height: 630px;
	}
		
	li{
		
		list-style-type: none;
		display: inline-block;
		left: 0;
		top: 0;		
		width: 100%;
		height: 460px;		
		
		@media (max-width: $width-desktop + 40){
			height: 390px;
		}
		
		@media (max-width: $width-interim + 40){
			height: 300px;	
		}
		
		@media (max-width: $width-ipad + 40){
			height: 550px;	
		}
		
		@media (max-width: $width-ipad_too){
			height: 630px;
		}
		
		a{
			display: inline-block;				
			position: relative;
			width: 250px;
			margin: 15px;
			padding: 0px;
			bordeR: solid 1px #ddd;
			font-size: 0;
			line-height: 0;
			
			@media (max-width: $width-desktop + 40){
				width: 200px;				
			}
			
			@media (max-width: $width-interim + 40){
				width: 160px;	
				margin: 5px;
			}
			
			@media (max-width: $width-ipad + 40){
				width: 200px;
			}
			
			@media (max-width: $width-ipad-too){
				width: 180px;
			}
			
			img{
				width: 100%;
				height: auto;				
			}
			
			img.partner_logo{
				position : absolute;
				bottom: 0;
				right: 0;
				width: 125px;
				height: 32px;
				z-index: 10;
				
				@media (max-width: $width-desktop + 40){
					width: 100px;
					height: auto;
				}
				
				@media (max-width: $width-interim + 40){
					width: 90px;
					height: auto;
				}

			}
			
			.hover_veil{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #999;
				opacity: 0;
				
				z-index: 100;
				
				@include allAnim();
			}
			
			.quick_intro{
				
				position: absolute;
				width: 100%;
				height: 100%;				
				opacity: 0;				
				z-index: 100;
				display: flex; 
				
				p{
					margin: auto;
					color: $white;
					padding: 10px;
					font-size: 14px;
					text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
					
					@media (max-width: $width-desktop + 40){
						font-size: 12px;
						}
						
						@media (max-width: $width-interim + 40){
							font-size: 11px;
							line-height: 14px;
						}
				}
							
				@include allAnim();

			}
			
			
			
			@include allAnim();
			
			&:hover{
				border: solid 1px #aaa;
				
				.hover_veil{
					opacity: 0.9;
				}
				
				.quick_intro{
					opacity: 1;
				}

			}
		}
	}
	
}

// DIARY

ul.diary_loop{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;	
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	
	li{
	 	flex: 0 0 200px;
		list-style-type: none;		
		margin: 15px;
		//margin-top: 30px;
		
		@media (max-width: $width-desktop + 40){
			width: 200px;	
						
		}
		
		@media (max-width: $width-interim + 40){
			flex: 0 0 180px;
			width: 180px;	
			margin: 5px;
			margin-bottom: 15px;
		}

		
		a{
			display: inline-block;				
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0px;	
			padding-bottom: 12px;		
			font-size: 0;
			line-height: 0;
			text-decoration: none;
			background-color: $white;	
			text-align: left;
			font-family: arial;
			border: solid 1px #ddd;
			
						
			img{
				width: 100%;
				height: auto;
				
			}
			
			h4{
				margin-bottom: 0;
				padding: 10px;
				padding-bottom: 0;
				color: $copy;
				font-size: 16px;
				font-family: arial;
				font-style: normal;
				line-height: 24px;
			}
									
			.hover_veil{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #aaa;
				opacity: 0;
				
				z-index: 100;
				
				@include allAnim();
			}
			
			@include allAnim();
			
			&:hover{				
				
				.hover_veil{
					opacity: 0.4;
				}

			}
		}
	}
	
}

.content_wrapper{

	.container.flexslider{
		
		position: relative;
	
		.flex-control-nav{
			display: block;
			width: 100%;
			margin-top: 25px;
			margin-bottom: 0;
			text-align: center;
			
			li{
				display: inline-block;
				list-style-type: none;				
				width: 30px;
				
				a{
					font-size: 0;
					text-decoration: none;
					color: #888;
					
					&:after{
						display: inline-block;	
						width: 20px;
						height: 20px;
						border-radius: 1000px;	
						content: ' ';		
						border: solid 2px #888;		
					}
					
					&:hover{
						&:after{
							border: solid 2px $green;	
						}						
					}
					
					&.flex-active{
						
						&:after{
							border: solid 2px $green;	
							background-color: $green;
						}
						
						&:hover{
							color: #888;
						}
					}
				}
			}
			
		}
	}

}

.a_button{
	height: 18px;
	padding: 20px;
	padding-top: 22px;
	padding-left: 40px;
	padding-right: 40px;
	border: 0;
	border-radius: 10px;
	color: $white;
	font-size: 20px;
	line-height: 0;
	text-transform: uppercase;
	font-family: arial;
	background-color: $copy;
	
	@inlcude allAnim();
	
	&:hover{
		cursor: pointer;
		background-color: $green;	
	}	
}


