// VARIABLES

// COLOURS

$grey: #DCDBDC;
$copy: #000000;

$yellow: #fdf36e;
$orange: #f3c276;
$orange: #ff5400;
$orange_light: #ff5400;
$red: #e73758;
$purple: #b0b3d7;
$blue: #51abf2;
$green: #92b051;
$pink: #ff1053;

$white: #ffffff;
$black: #000;

$copy: #333;

// LAYOUT 

$gutter: 15px;

// MIXINS 

// OPACITY

@mixin opacityAnim{
	-webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

@mixin colorAnim{
	-webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
}

@mixin allAnim{
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

// RESPONSIVENESS 

$width-desktop: 1440px;
$width-interim: 980px;
$width-ipad: 800px;
$width-ipad_too: 678px;
$width-mobile: 520px;

// MOBILE 

$mobile-width: calc(100%-40px);
$mobile-gutter: 20px;

.section{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	height: auto;
	min-height: 0px;
	margin: 0;
	padding: 0;
	text-align: center;
	z-index: 1005;
	background-color: $white;
	box-sizing: border-box;
}

.container{
	clear: both;
	display: inline-block;
	width: $width-desktop;
	margin-left: auto;
	margin-right: auto;
	padding: $gutter;
	padding-top: 60px;
	padding-bottom: 60px;
  	line-height: normal;
	text-align: center;
	box-sizing: border-box;
	
	@media (max-width: $width-desktop + 40){
		width: $width-interim;
	}
	
	@media (max-width: $width-interim + 40){
		width: $width-ipad;
	}
	
	@media (max-width: $width-ipad + 40){
		width: 100%;					
		padding-left: 20px;
		padding-right: 20px;
	}
}

