/*
Theme Name: Business Hub
Theme URI: 
Description: Bespoke Wordpress theme created by Nick Kind, Immediate 190516
Author: Nick Kind, TS, Immediate
Version: 1.0
*/
/* BEGIN CSS */
@import url(/Users/nick_kind/Local Server/TS/TS/wp-content/themes/TS/sass/fontawesome-all.css);
@font-face {
  font-family: 'nexa heavy';
  src: url("fonts/nexa_heavy-webfont.woff2") format("woff2"), url("fonts/nexa_heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.section {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  height: auto;
  min-height: 0px;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1005;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  clear: both;
  display: inline-block;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: normal;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1480px) {
  .container {
    width: 980px;
  }
}

@media (max-width: 1020px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

* {
  outline: none;
}

.content_wrapper.grey {
  background-color: #eee;
}

.content_wrapper h1, .content_wrapper h2, .content_wrapper h3, .content_wrapper h4, .content_wrapper h5, .content_wrapper h6 {
  clear: both;
  margin-bottom: 15px;
  line-height: normal;
  color: #444;
}

.content_wrapper h1 {
  font-weight: normal;
  font-size: 32px;
  font-family: 'nexa heavy';
}

.content_wrapper h2 {
  font-weight: normal;
  font-size: 25px;
  font-family: 'nexa heavy';
}

.content_wrapper h3 {
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 0.3pt;
  font-family: 'nexa heavy';
}

.content_wrapper h4 {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.3pt;
  font-family: 'nexa heavy';
}

.content_wrapper p, .content_wrapper a, .content_wrapper li, .content_wrapper label, .content_wrapper td, .content_wrapper th, .content_wrapper legend, .content_wrapper input[type="text"], .content_wrapper input[type="password"], .content_wrapper textarea {
  font-family: arial;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2pt;
  line-height: 21px;
}

.content_wrapper p, .content_wrapper ul, .content_wrapper ol {
  margin-bottom: 15px;
}

.content_wrapper p i {
  font-style: italic;
}

.content_wrapper ul li, .content_wrapper ol li {
  list-style-position: outside;
}

.content_wrapper ul ul {
  margin-bottom: 0;
}

.content_wrapper a {
  font-weight: bold;
}

.content_wrapper a:hover {
  text-decoration: none;
}

.content_wrapper input, .content_wrapper select, .content_wrapper textarea {
  font-size: 16px;
}

.content_wrapper a.read_more {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  padding: 8px 20px;
  padding-top: 10px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1;
  color: #333;
  font-family: 'Gill Sans regular';
  font-style: normal;
  font-weight: normal;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.content_wrapper a.read_more i {
  font-size: 15px;
}

.content_wrapper a.read_more:hover {
  border: solid 1px #bbb;
  background-color: #f5f5f5;
}

img.pre_loading {
  float: left;
  height: 0px;
  width: 0px;
  font-size: 0;
}

ul.feed_loop {
  position: relative;
  display: block;
  width: 100%;
  height: 460px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1480px) {
  ul.feed_loop {
    height: 390px;
  }
}

@media (max-width: 1020px) {
  ul.feed_loop {
    height: 300px;
  }
}

@media (max-width: 840px) {
  ul.feed_loop {
    height: 550px;
  }
}

@media (max-width: 678px) {
  ul.feed_loop {
    height: 630px;
  }
}

ul.feed_loop li {
  list-style-type: none;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 460px;
}

@media (max-width: 1480px) {
  ul.feed_loop li {
    height: 390px;
  }
}

@media (max-width: 1020px) {
  ul.feed_loop li {
    height: 300px;
  }
}

@media (max-width: 840px) {
  ul.feed_loop li {
    height: 550px;
  }
}

@media (max-width: 678px) {
  ul.feed_loop li {
    height: 630px;
  }
}

ul.feed_loop li a {
  display: inline-block;
  position: relative;
  width: 250px;
  margin: 15px;
  padding: 0px;
  bordeR: solid 1px #ddd;
  font-size: 0;
  line-height: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media (max-width: 1480px) {
  ul.feed_loop li a {
    width: 200px;
  }
}

@media (max-width: 1020px) {
  ul.feed_loop li a {
    width: 160px;
    margin: 5px;
  }
}

@media (max-width: 840px) {
  ul.feed_loop li a {
    width: 200px;
  }
}

@media (max-width: 678px) {
  ul.feed_loop li a {
    width: 180px;
  }
}

ul.feed_loop li a img {
  width: 100%;
  height: auto;
}

ul.feed_loop li a img.partner_logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 32px;
  z-index: 10;
}

@media (max-width: 1480px) {
  ul.feed_loop li a img.partner_logo {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 1020px) {
  ul.feed_loop li a img.partner_logo {
    width: 90px;
    height: auto;
  }
}

ul.feed_loop li a .hover_veil {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #999;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.feed_loop li a .quick_intro {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.feed_loop li a .quick_intro p {
  margin: auto;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1480px) {
  ul.feed_loop li a .quick_intro p {
    font-size: 12px;
  }
}

@media (max-width: 1020px) {
  ul.feed_loop li a .quick_intro p {
    font-size: 11px;
    line-height: 14px;
  }
}

ul.feed_loop li a:hover {
  border: solid 1px #aaa;
}

ul.feed_loop li a:hover .hover_veil {
  opacity: 0.9;
}

ul.feed_loop li a:hover .quick_intro {
  opacity: 1;
}

ul.diary_loop {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.diary_loop li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  list-style-type: none;
  margin: 15px;
}

@media (max-width: 1480px) {
  ul.diary_loop li {
    width: 200px;
  }
}

@media (max-width: 1020px) {
  ul.diary_loop li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    width: 180px;
    margin: 5px;
    margin-bottom: 15px;
  }
}

ul.diary_loop li a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  padding-bottom: 12px;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  background-color: #ffffff;
  text-align: left;
  font-family: arial;
  border: solid 1px #ddd;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.diary_loop li a img {
  width: 100%;
  height: auto;
}

ul.diary_loop li a h4 {
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 0;
  color: #333;
  font-size: 16px;
  font-family: arial;
  font-style: normal;
  line-height: 24px;
}

ul.diary_loop li a .hover_veil {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.diary_loop li a:hover .hover_veil {
  opacity: 0.4;
}

.content_wrapper .container.flexslider {
  position: relative;
}

.content_wrapper .container.flexslider .flex-control-nav {
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center;
}

.content_wrapper .container.flexslider .flex-control-nav li {
  display: inline-block;
  list-style-type: none;
  width: 30px;
}

.content_wrapper .container.flexslider .flex-control-nav li a {
  font-size: 0;
  text-decoration: none;
  color: #888;
}

.content_wrapper .container.flexslider .flex-control-nav li a:after {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  content: ' ';
  border: solid 2px #888;
}

.content_wrapper .container.flexslider .flex-control-nav li a:hover:after {
  border: solid 2px #92b051;
}

.content_wrapper .container.flexslider .flex-control-nav li a.flex-active:after {
  border: solid 2px #92b051;
  background-color: #92b051;
}

.content_wrapper .container.flexslider .flex-control-nav li a.flex-active:hover {
  color: #888;
}

.a_button {
  height: 18px;
  padding: 20px;
  padding-top: 22px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
  font-family: arial;
  background-color: #333;
  @inlcude allAnim();
}

.a_button:hover {
  cursor: pointer;
  background-color: #92b051;
}

body, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial;
  font-style: normal;
}

body {
  background-image: none;
  background-color: #fff;
  font-family: arial;
  font-style: normal;
}

#header_space {
  display: block;
  height: 70px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  z-index: 90001;
}

#header .container {
  padding: 0;
}

#header ul#primary_nav {
  margin-top: 24px;
  padding: 0px;
  text-align: right;
}

#header ul#primary_nav li {
  display: inline-block;
  list-style-type: none;
}

#header ul#primary_nav li a {
  display: block;
  padding: 7px 15px;
  color: #aaa;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
}

#header ul#primary_nav li a:hover {
  cursor: pointer;
  color: #92b051;
}

@media (max-width: 678px) {
  #header ul#primary_nav li a {
    padding: 7px 0px;
    padding-right: 8px;
    font-size: 11px;
  }
}

@media (max-width: 840px) {
  #header ul#primary_nav li:last-child {
    padding-right: 20px;
  }
}

@media (max-width: 678px) {
  #header ul#primary_nav li:last-child {
    padding-right: 10px;
  }
}

#header ul#primary_nav #menu_logo {
  float: left;
  margin-top: -14px;
}

#header ul#primary_nav #menu_logo a {
  display: block;
  width: 92px;
  padding: 7px 15px;
}

#header ul#primary_nav #menu_logo a img {
  width: 100%;
  height: auto;
  display: none;
}

#header ul#primary_nav #menu_logo a img.show {
  display: block;
}

#home_slider_wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 0px;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 90000;
  opacity: 1;
}

@media (max-width: 840px) {
  #home_slider_wrapper {
    height: 300px;
  }
}

#home_slider_wrapper #home_slider {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  z-index: 10000;
}

#home_slider_wrapper #home_slider li {
  height: auto;
  height: 500px;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

#home_slider_wrapper #home_slider li img {
  width: 100%;
  height: auto;
  display: none;
}

#home_slider_wrapper #watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: repeat;
  z-index: 10001;
}

#home_slider_wrapper #master_brandmark {
  position: absolute;
  top: calc(50% - 125px);
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 10002;
}

@media (max-width: 840px) {
  #home_slider_wrapper #master_brandmark {
    width: 220px;
    height: 140px;
    top: calc(50% - 70px);
  }
}

@media (max-width: 840px) {
  #see_everything .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#see_everything .container h3 {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (max-width: 840px) {
  #see_everything .container h3 {
    margin-top: 30px;
  }
}

#see_everything .container h3 a {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 45px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0);
  line-height: 1;
  border-radius: 3px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#see_everything .container h3 a:hover {
  cursor: pointer;
  color: #ffffff;
  border: solid 1px #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

#see_everything .container ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0px;
}

#see_everything .container ul li a {
  margin: 5px;
  padding: 8px 20px;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Gill Sans regular';
  font-style: normal;
  font-weight: normal;
  border: solid 1px rgba(0, 0, 0, 0);
  line-height: 1;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#see_everything .container ul li a:hover {
  cursor: pointer;
  color: #ffffff;
  border: solid 1px #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 840px) {
  #see_everything .container ul li {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media (max-width: 840px) {
  #han_solo .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#han_solo .container h4 {
  margin-top: 0;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#han_solo .container p {
  margin-bottom: 0;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Gill Sans regular';
  font-style: normal;
  font-weight: normal;
  border: solid 1px rgba(0, 0, 0, 0);
  line-height: 1;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 840px) {
  #han_solo .container p {
    margin-bottom: 0px;
  }
}

#page_header {
  background-size: cover;
  background-position: center center;
}

#page_header h1 {
  margin: 0;
  font-size: 35px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#the_introduction .container h2 {
  font-family: arial;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.2pt;
  line-height: 21px;
}

.workshop.section .container label {
  display: block;
}

.workshop.section .container input {
  width: 340px;
  margin-bottom: 25px;
  padding: 8px;
  bordeR: solid 1px #aaa;
  border-radius: 3px;
  font-size: 16px;
  font-family: arial;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .workshop.section .container input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.workshop.section .container .a_button {
  display: inline-block;
  border-radius: 3px;
  width: 250px;
  height: 18px;
  padding: 20px;
  margin-top: 20px;
  padding-top: 22px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
  font-family: arial;
  background-color: #333;
}

#portfolio_page.section .container h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

#portfolio_page.section .container .filters {
  float: left;
  width: 212px;
  text-align: center;
}

#portfolio_page.section .container .filters .a_button {
  display: inline-block;
  width: 80%;
  height: auto;
  padding: 10px;
  padding-lefT: 0;
  padding-right: 0;
  border-radius: 3px;
  font-size: 15px;
  line-height: 1;
}

@media (max-width: 840px) {
  #portfolio_page.section .container .filters {
    display: none;
  }
}

#portfolio_page.section .container ul.portfolio_loop {
  position: relative;
  display: inline-block;
  width: calc(100% - 220px);
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 840px) {
  #portfolio_page.section .container ul.portfolio_loop {
    width: 100%;
  }
}

#portfolio_page.section .container ul.portfolio_loop li {
  display: inline-block;
  list-style-type: none;
}

#portfolio_page.section .container ul.portfolio_loop li a {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 205px;
  margin: 15px;
  padding: 0px;
  font-size: 0;
  line-height: 0;
  bordeR: solid 1px #ddd;
  text-decoration: none;
  background-color: #ffffff;
  text-align: left;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media (max-width: 1480px) {
  #portfolio_page.section .container ul.portfolio_loop li a {
    width: 200px;
  }
}

@media (max-width: 1020px) {
  #portfolio_page.section .container ul.portfolio_loop li a {
    width: 160px;
    height: 170px;
    margin: 5px;
  }
}

@media (max-width: 840px) {
  #portfolio_page.section .container ul.portfolio_loop li a {
    width: 200px;
    height: 195px;
  }
}

@media (max-width: 678px) {
  #portfolio_page.section .container ul.portfolio_loop li a {
    width: 180px;
  }
}

#portfolio_page.section .container ul.portfolio_loop li a img {
  width: 80%;
  height: auto;
  margin-lefT: 10%;
  margin-top: 10px;
}

@media (max-width: 1480px) {
  #portfolio_page.section .container ul.portfolio_loop li a img {
    width: 90%;
    margin-lefT: 5%;
  }
}

@media (max-width: 1020px) {
  #portfolio_page.section .container ul.portfolio_loop li a img {
    width: 100%;
    margin-lefT: 0%;
  }
}

#portfolio_page.section .container ul.portfolio_loop li a img.partner_logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 32px;
  opacity: 0.5;
  z-index: 10;
}

@media (max-width: 1480px) {
  #portfolio_page.section .container ul.portfolio_loop li a img.partner_logo {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 1020px) {
  #portfolio_page.section .container ul.portfolio_loop li a img.partner_logo {
    width: 90px;
    height: auto;
  }
}

@media (max-width: 840px) {
  #portfolio_page.section .container ul.portfolio_loop li a img.partner_logo {
    width: 100px;
  }
}

#portfolio_page.section .container ul.portfolio_loop li a .hover_veil {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #777;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#portfolio_page.section .container ul.portfolio_loop li a .quick_intro {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#portfolio_page.section .container ul.portfolio_loop li a .quick_intro p {
  margin: auto;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1480px) {
  #portfolio_page.section .container ul.portfolio_loop li a .quick_intro p {
    font-size: 12px;
  }
}

@media (max-width: 1020px) {
  #portfolio_page.section .container ul.portfolio_loop li a .quick_intro p {
    font-size: 11px;
    line-height: 14px;
  }
}

#portfolio_page.section .container ul.portfolio_loop li a:hover .hover_veil {
  opacity: 0.9;
}

#portfolio_page.section .container ul.portfolio_loop li a:hover .quick_intro {
  opacity: 1;
}

ul.fields_system_skills {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

ul.fields_system_skills li {
  list-style-type: none;
  display: inline-block;
  width: 100px;
  margin: 3px;
  padding: 5px 10px;
  font-size: 11px;
  border: solid 1px #ccc;
  border-radius: 3px;
  line-height: 1;
  background-color: #eee;
}

ul.fields_system_skills li:hover {
  cursor: pointer;
  background-color: #92b051;
  border: solid 1px #92b051;
}

ul.fields_system_skills li.active {
  color: #ffffff;
  background-color: #51abf2;
  border: solid 1px #51abf2;
}

.the_diary_wrapper.section {
  background-color: #eee;
}

.the_diary_wrapper.section .container {
  padding-top: 0;
  padding: 0;
  max-width: 600px;
}

.section.diary_page {
  background-color: #eee;
}

#diary_wrapper {
  text-align: left;
  background-color: #ffffff;
}

#diary_wrapper img {
  width: 100%;
  height: auto;
}

#diary_wrapper .the_padding {
  padding: 15px;
}

#diary_wrapper .the_padding h1 {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 21px;
  font-family: 'nexa heavy';
  letter-spacing: 0.2pt;
  color: #333;
}

#diary_wrapper .the_padding p {
  margin-bottom: 15px;
  color: #333;
  font-size: 16px;
  letter-spacing: 0.2pt;
  line-height: 24px;
}

#diary_wrapper .the_padding img {
  width: 100%;
  height: auto;
}

#diary_wrapper .the_padding img.centre_placed {
  display: block;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
}

#diary_wrapper .the_padding .wp-caption {
  width: 100% !important;
  height: auto;
}

#diary_wrapper .the_padding .wp-caption-text {
  margin-bottom: 25px;
  text-align: center;
  font-size: 10px;
}

#diary_wrapper .the_padding a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

#diary_wrapper .the_padding a:hover {
  color: #92b051;
}

@media (max-width: 678px) {
  #the_skills_hill .container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#the_skills_hill .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 840px) {
  #the_skills_hill .container ul {
    display: block;
  }
}

#the_skills_hill .container ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  list-style-type: none;
  margin: 0px;
}

@media (max-width: 840px) {
  #the_skills_hill .container ul li {
    display: inline-block;
    width: 50px;
  }
}

#the_skills_hill .container ul li a {
  display: block;
  width: 100%;
  height: auto;
}

#the_skills_hill .container ul li a img {
  width: 100%;
  height: auto;
}

#footer {
  background-color: #000;
}

#footer.fixed {
  position: fixed;
  bottom: 0;
  lefT: 0;
  width: 100%;
}

#footer .container {
  text-align: left;
}

@media (max-width: 678px) {
  #footer .container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#footer .container ul {
  display: inline-block;
}

@media (max-width: 678px) {
  #footer .container ul {
    display: block;
    text-align: center;
  }
}

#footer .container ul li {
  list-style-type: none;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 15px;
  font-family: arial;
  line-height: 22px;
}

@media (max-width: 678px) {
  #footer .container ul li {
    display: block;
  }
}

#footer .container ul li a {
  color: #ffffff;
  font-size: 15px;
  font-family: arial;
  line-height: 22px;
  text-decoration: none;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#footer .container ul li a:hover {
  color: #92b051;
}

#footer .container .footer_links {
  float: right;
  width: 140px;
  height: auto;
  margin-top: 5px;
  text-decoration: none;
  text-align: right;
}

@media (max-width: 678px) {
  #footer .container .footer_links {
    display: block;
    float: none;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

#footer .container .footer_links p {
  color: #ffffff;
  font-size: 12px;
}

@media (max-width: 678px) {
  #footer .container .footer_links p {
    margin-bottom: 3px;
  }
}

#footer .container .footer_links a.ocean {
  display: inline-block;
  width: 110px;
  height: auto;
  margin-top: 5px;
}

#footer .container .footer_links a.ocean img {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

#footer .container .footer_links a.upparel {
  display: inline-block;
  width: 120px;
  height: auto;
  margin-top: 5px;
}

#footer .container .footer_links a.upparel img {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

#modal_veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 100000;
  display: none;
}

#window_wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  height: 100%;
  background-color: #ffffff;
  background-image: url("images/blinking.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20%, auto;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100000;
  display: none;
}

@media (max-width: 600px) {
  #window_wrapper {
    width: 100%;
  }
}

#window_wrapper #window_content {
  text-align: left;
}

#close_modal_wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  height: 60px;
  z-index: 100000000;
  display: none;
}

@media (max-width: 600px) {
  #close_modal_wrapper {
    width: 100%;
  }
}

#close_modal_wrapper #close_modal {
  position: absolute;
  top: 0px;
  right: -35px;
  width: 30px;
  height: 30px;
  color: #ffffff;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

#close_modal_wrapper #close_modal:hover {
  cursor: pointer;
}

@media (max-width: 840px) {
  #close_modal_wrapper #close_modal {
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
  }
  #close_modal_wrapper #close_modal:after {
    top: 1px;
    left: 10px;
  }
  #close_modal_wrapper #close_modal:hover {
    background-color: black;
  }
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper .gform_wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.content_wrapper .charleft {
  display: none;
}

.content_wrapper .gfield_required {
  padding-left: 2px;
  color: #e73758;
  font-size: 18px;
}

.content_wrapper .validation_error {
  font-size: 0;
  line-height: 0;
}

.content_wrapper ul.gform_fields {
  margin-left: 0;
}

.content_wrapper ul.gform_fields li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  vertical-align: top;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li {
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.content_wrapper ul.gform_fields li.gfield_error {
  background-color: #fdf1f2;
}

.content_wrapper ul.gform_fields li label, .content_wrapper ul.gform_fields li legend {
  display: block;
  font-family: arial;
  margin: 0;
  text-align: center;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li label, .content_wrapper ul.gform_fields li legend {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.content_wrapper ul.gform_fields li .validation_message {
  font-size: 12pt;
}

.content_wrapper ul.gform_fields li .ginput_container {
  display: block;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li .ginput_container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.content_wrapper ul.gform_fields li .ginput_container input {
  text-align: center;
}

.content_wrapper ul.gform_fields li .ginput_container input, .content_wrapper ul.gform_fields li .ginput_container select, .content_wrapper ul.gform_fields li .ginput_container textarea {
  width: 340px;
  padding: 8px;
  bordeR: solid 1px #aaa;
  border-radius: 3px;
  font-size: 16px;
  font-family: arial;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li .ginput_container input, .content_wrapper ul.gform_fields li .ginput_container select, .content_wrapper ul.gform_fields li .ginput_container textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.content_wrapper ul.gform_fields li .ginput_container textarea {
  resize: none;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_radio {
  margin: 0;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_radio li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_radio li label {
  width: auto;
  margin-right: 20px;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_radio li input {
  width: auto;
  margin-right: 5px;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_checkbox {
  margin: 0 !important;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_checkbox li label {
  display: inline-block;
  width: 240px;
  margin: 0;
  font-size: 12pt;
}

.content_wrapper ul.gform_fields li .ginput_container ul.gfield_checkbox li input {
  float: right;
  width: 20px;
  height: 20px;
  margin-left: 0px;
}

.content_wrapper ul.gform_fields li .ginput_container.ginput_container_radio {
  display: inline-block;
  width: 340px;
  margin-left: 2px;
  font-size: 14pt;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li .ginput_container.ginput_container_radio {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
}

.content_wrapper ul.gform_fields li .ginput_container.ginput_complex span {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.content_wrapper ul.gform_fields li .ginput_container.ginput_complex span label {
  width: 240px;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li .ginput_container.ginput_complex span label {
    width: 100%;
  }
}

.content_wrapper ul.gform_fields li .ginput_container.ginput_complex span input {
  width: 330px;
  display: inline-block;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li .ginput_container.ginput_complex span input {
    width: 100%;
  }
}

.content_wrapper ul.gform_fields li.field_sublabel_below fieldset {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_wrapper ul.gform_fields li.field_sublabel_below fieldset legend {
  float: left;
  display: inline-block;
}

.content_wrapper ul.gform_fields li.field_sublabel_below fieldset .ginput_container.ginput_container_radio {
  float: right;
  display: inline-block;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper ul.gform_fields li.field_sublabel_below fieldset .ginput_container.ginput_container_radio {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 0;
  }
}

.content_wrapper ul.gform_fields li .gfield_description {
  font-size: 12px;
  font-family: arial;
}

.content_wrapper .gform_button {
  height: 18px;
  padding: 20px;
  padding-top: 22px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
  font-family: arial;
  background-color: #333;
  @inlcude allAnim();
}

.content_wrapper .gform_button:hover {
  cursor: pointer;
  background-color: #92b051;
}

@media (max-width: 800px), screen and (max-device-width: 520px) {
  .content_wrapper .gform_button {
    width: 100%;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.parallax-window {
  min-height: 80px;
  background: transparent;
}

#fancybox-outer {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#fancybox-overlay {
  background-color: #000 !important;
  opacity: 0.9 !important;
}

#fancybox-loading {
  top: 44% !important;
  left: 45% !important;
  width: 140px !important;
  height: 140px !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  background-image: url("images/TS-Logo-Grey.svg") !important;
  background-position: center center !important;
  background-repeat: no-repeat;
}

#fancybox-loading div {
  background-image: none !important;
}

@media (max-width: 840px) {
  #fancybox-loading {
    left: 40% !important;
  }
}

@media (max-width: 678px) {
  #fancybox-loading {
    left: 37% !important;
  }
}

#fancybox-close {
  top: 0px !important;
  right: -35px !important;
  width: 30px !important;
  height: 30px !important;
  background-image: none !important;
  background-color: transparent !important;
}

#fancybox-close:after {
  position: absolute;
  top: 0px;
  left: 5px;
  color: #ffffff;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 100;
  font-size: 40px;
  content: '\f00d';
}

@media (max-width: 840px) {
  #fancybox-close {
    top: 5px !important;
    right: 5px !important;
    width: 45px !important;
    height: 45px !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 3px !important;
  }
  #fancybox-close:after {
    top: 1px;
    left: 10px;
  }
}

@media print {
  #primary_nav_wrapper {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */